/*
 * 1. Add a style tag that sets a rule for .list-item to make the color red.
 */

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  height: 100vh;
  background-image: url("../Assets/FONDO.png");
  background-size: cover;
  align-items: center;
  justify-content: center;
}

#info {
  padding: 10px;
  margin-right: 50px;
}

#form-container {
  padding: 10px;
  margin-left: 50px;
}

form {
  margin-top: -105px;
  color: #008377;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 15px;
}

label {
  display: block;
  margin: 1em 0;
  font-weight: bold;
}

input {
  display: block;
}

.list-item {
  color: #008377;
}

h1 {
  color: #008377;
  margin: 0;
  padding: 20px;
  font-family: Cambria;
  font-size: 60px;
}

.img-Noa-Marta {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border: 5px solid #008377;
}

button {
  border-radius: 15px;
  border: none;
  background-color: #008377;
  color: white;
  padding: 9px;
  width: 40%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  cursor: pointer;
  &:active {
    box-shadow: none; /* Eliminar sombra */
  }
}

input {
  width: 70%;
  border-radius: 7px;
  border: none;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

li {
  color: #008377;
  padding: 10px;
  font-weight: bold;
}

span {
  font-weight: lighter;
}

#list-container {
  max-width: 300px;
  word-wrap: break-word;
}
